<link rel="stylesheet" href="/css/header.css">
<nav class="container-fluid d-flex justify-content-end gap-2 mt-3">
    <!-- User Info  -->
    <a href="/user/info/<%=locals.user.id%>" id="getUserInfo" class=" btn btn-outline-light">
        <i class="fa-solid fa-user"></i></a>
    <!-- Sign Out Link  -->
    <a href="/access/destroy-session" class=" btn btn-outline-light ">
        <i class="fa-solid fa-right-from-bracket d-sm-fa-sm fa-xl "></i>
    </a>
</nav>