<h4>This link is valid for 10 miniutes.</h4>
<div>
    <a href="http://authentication-system.socialise-india.in/user/reset/<%= user._id  %>">Click here to reset
        password</a>
    <!-- Setup Form -->
</div>